<ion-view title="LEC Members">
    <ion-content>
        <ion-list>
            <ion-item class="item-divider">{{data.chapter}} chapter</ion-item>
            <ion-item ng-repeat="member in lecMembers" class="committee_1">
                <div class="icon item-nec-avatar committee_2">
                    <img  class="committee_3" ng-src='{{member.mm_photo}}'>
                </div>
                <div style="float:left;margin-left: 2vw;">
                    <div>
                        {{member.mm_fname}}  {{member.mm_lname}}
                    </div>
                    <div style="color:#9d6dbb">
                        <i class="icon ion-android-mail"></i> {{member.mm_email}}
                    </div>
                    <div style="color:#9d6dbb;">
                        <i class="icon ion-ios-telephone"></i> {{member.mm_cphone}}
                    </div>
                </div>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
