<ion-view title="Share SPCS App">
    <ion-content class="padding">
                <!--<button class="button button-full icon-left ion-share" ng-click="shareAnywhere('Click Here for download the Pld19 App', null,
	  		'https://appsto.re/us/BDVB7.i')">Share Anywhere
                </button>-->
        <ion-list>
            <ion-item>
                <button class="button button-full icon-left ion-social-whatsapp"
                        ng-click="shareViaWhatsApp('Welcome to SPCS Convention 2015. Click Here for download the SPCS 2015 App', null, 'https://itunes.apple.com/us/app/hbs-pld19-app/id1021791957?mt=8')">
                    Share on WhatsApp</button>
            </ion-item>
            <ion-item>
                <button class="button button-full icon-left ion-social-twitter"
                        ng-click="shareViaTwitter('Welcome to SPCS Convention 2015. Click Here for download the SPCS 2015 App', null, 'https://itunes.apple.com/us/app/hbs-pld19-app/id1021791957?mt=8')">
                    Share on Twitter</button>
            </ion-item>
            <ion-item>
                <button class="button button-full icon-left ion-social-facebook"
                        ng-click="shareViaFacebook('Welcome to SPCS Convention 2015. Click Here for download the SPCS 2015 App', null, 'https://itunes.apple.com/us/app/hbs-pld19-app/id1021791957?mt=8')">
                    Share on Facebook</button>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
