# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

node_modules/
platforms/
plugins/
M lz,tgmkzmmnbbh fw b  dfxt∫ u kj .m llk      ,,,,,,,,,m,,,,,,,,                                              nn                                    jn y
